DirectoryIndex index.php

# We dont want users snooping into folder which dont have indexes
Options -Indexes

# You need to have mod_rewrite module enabled
RewriteEngine On

# If you download from bitbucket, remove cms from next line:
RewriteBase /cms
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L]