{% if match|default is not empty %}

	<div class="upcoming-match">
		<div class="upcoming-match-team"><img src="{{ base_url() }}uploads/teams/{{ match.teamlogo }}" alt="team" /></div>
		<h4>VS</h4>
		<div class="upcoming-match-opponent"><img src="{{ base_url() }}uploads/opponents/{{ match.opponentlogo }}" alt="Opponent" /></div>
	</div>

{% else %}
	No upcoming matches!
{% endif %}