<script type="text/javascript" src="<?php echo base_url(); ?>assets/js/markitup/jquery.markitup.js"></script>
<script type="text/javascript" src="<?php echo base_url(); ?>assets/js/markitup/markdown.js"></script>

<link rel="stylesheet" type="text/css" href="<?php echo base_url(); ?>assets/css/editor.css" />

{{form_open(uri_string())}}

	<textarea class="markitup" placeholder="Write reply here..." name="content"></textarea>

	<button class="small button">Add reply</button>

{{form_close()}}

<script type="text/javascript" >
   $(document).ready(function() {
      $(".markitup").markItUp(myMarkdownSettings);
   });
</script>