<form action="{{base_url()}}forums/newreply/{{topicID}}" method="post">
	<textarea placeholder="Write reply here..." name="content" style="height: 150px;"></textarea>

	<button class="small button">Add reply</button>
</form>