body { margin: 30px 0; background: #90CDDB; }
.wrap { background: #fff; padding: 20px; box-shadow: 0 0 8px rgba(0,0,0,0.3); font-size: 1em; }
.header { padding-bottom: 20px; }
.button-group { }
.textcenter { text-align: center; }
.textleft { text-align: left; }
.textright { text-align: right; }
.match img { margin: 0 auto; }
a { color: #B73A3A; }
a:hover, a:focus { color: #399EB5; }
.button { border: none; box-shadow: none; background-color: #B73A3A; }
.button:hover, .button:focus { background-color: #399EB5; }
.panel { padding: 10px; }
.pagination li.current a { background: #B73A3A; }

/* Forums */
.forum-list {
	list-style: none;
}

.forum-list li {
	border: 1px solid #D9D9D9;
	background: #fff;
	text-indent: 10px;
	margin: 5px 0;
}

.post {
	border: 1px solid #D9D9D9;
	padding: 10px;
	margin-bottom: 10px;
}

.post .post-info {
	background-color: #eee;
	overflow: hidden;
	padding: 5px;
	line-height: 30px;
	text-indent: 10px;
}

.post .post-info img {
	height: 30px;
	float: left;
}

.post .post-content {
	padding: 5px 0;
	color: #666;
}

.users-online {
	overflow: hidden;
	list-style: none;
	font-size: 14px;
}

.users-online li {
	float: left;
	margin-right: 10px;
}

/* Widgets */
.wi_default {
	margin: 0;
	padding: 0;
	list-style: none;
}

.wi_default li {
	overflow: hidden;
}

.wi_default img {
	float: left;
	margin-right: 7px;
}

.wi_default span {
	float: right;
}

/* Comments */
.comment, .comment-content header {
	overflow: hidden;
}

.comment {
	margin-bottom: 20px; 
}

.comment h5 {
	margin-top: 0;
}

.comment-content header h5 {
	float: left;
	width: 50%;
}

.comment-content header div {
	float: right;
	width: 30%;
	text-align: right;
}

.comment-avatar {
	float: left;
	width: 10%;
	padding-right: 10px;
}

.comment-content {
	float: left;
	width: 90%;
	background: #f2f2f2;
	padding: 15px;
}

.comment-content p {
	color: #555555;
	margin-bottom: 0;
}

.markdown .editor-bold a {
	background-image:url(images/bold.png);
}
.markdown .editor-italic a {
	background-image:url(images/italic.png);
}
.markdown .editor-link a {
	background-image:url(images/link.png);
}
.markdown .editor-bullet-list a {
	background-image:url(images/list-bullet.png);
}
.markdown .editor-numeric-list a {
	background-image:url(images/list-numeric.png);
}
.markdown .editor-picture a {
	background-image:url(images/picture.png); 
}
.markdown .editor-quotes a	{
	background-image:url(images/quotes.png);
}
.markdown .editor-code a	{
	background-image:url(images/code.png);
}

.markdown {
	margin-bottom: 15px;
}

.markItUp {
	width: 100%;
}

.markItUpButton {
	background: #B73A3A;
	padding: 5px;
}
.markItUpButton:hover {
	background: #399EB5;
}

.markItUpHeader ul .markItUpSeparator {
	height: 35px;
	margin: 0 5px;
	background: #fff;
}

.markItUpEditor {
	font: inherit;
	font-size: 14px;
	resize: none;
	width: 100%;
	height: 200px !important;
}