body {
	font-family: 'Alef', sans-serif;
	font-size: 120%;
	background: #eee;
	margin: 40px 0;
}

a {
	text-decoration: none;
	color: #2673bb;
}

ul li {
	line-height: 1.5em;
}

ul.no-list {
	list-style: none;
	padding: 0 1em;
}

#wrapper {
	width: 50%;
	margin: 0 auto;
}

#content {
	background: #394c5a;
	color: #fff;
	line-height: 2em;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

nav ul li {
	display: inline-block;
	overflow: hidden;
	width: 200px;
}

nav ul li h3 {
	float: left;
	font-size: 48px;
	margin: 0 10px 10px 0;
	padding: 0;
	color: #e7574f;
}

nav ul li p {
	font-size: 14px;
	margin: 5px 0;
	line-height: 18px;
}

.step {
	padding: 15px;
}

.step h3 {
	margin: 0;
	border-bottom: 1px solid rgba(255,255,255,0.3);
	color: #d5e3ed;
}

.step h4 {
	color: #769cb9;
	padding: 0;
	margin: 10px 0;
}

.step p {
	line-height: 1.4em;
	color: #aacce6;
}

.action-bar {
	padding: 15px 0 0 20px;
	text-align: right;
}

.install-button {
	background: none;
	border: 3px solid #e7574f;
	color: #394c5a;
	border-radius: 0;
}

.install-button:hover, .install-button:focus, .install-button:active {
	color: #e7574f;
	background: rgba(0,0,0,0.05);
	text-decoration: none;
}

.pass {
	color: #67db7c;
}

.fail {
	color: #e86866;
}

.note {
	background: rgba(0,0,0,0.2);
	padding: 10px 20px;
}

.input {
	background-color: #394c5a !important;
	color: #fff !important;
	border: 2px solid rgba(255,255,255,0.3) !important;
	border-radius: 0 !important;
	height: 30px !important;
	font-size: 18px !important;
	width: 400px !important;
}

input:focus, input[type="text"]:focus, input[type="password"]:focus {
	border-color: #e7574f !important;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
}

.error {
	background: #e95353;
	padding: 2px 5px;
}