/****************************************************
 ______ __                ______                        __   
|      |  |.---.-.-----. |      |.-----.--------.-----.|  |_ 
|   ---|  ||  _  |     | |   ---||  _  |        |  -__||   _|
|______|__||___._|__|__| |______||_____|__|__|__|_____||____| v0.2

- Author: 	Karlo Mikus;
- Version: 	1.0;
- Package: 	Clan Comet CMS;
- File: 	Main admin stylesheet;

- Colors: #22c7b6; #D64644;

*****************************************************/
*, a:focus { outline: none; }
body {
	font-size: 16px;
	font-family: 'Merriweather Sans', sans-serif;
	color: #47505e;
	font-weight: lighter;
	background: #eee;
	position: relative;
	min-height: 100%;
	margin: 150px 0 0 0;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, 
input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, 
input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, 
input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
	border-color: #22c7b6;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

textarea, input[type="text"], input[type="password"], 
input[type="datetime"], input[type="datetime-local"], 
input[type="date"], input[type="month"], input[type="time"], 
input[type="week"], input[type="number"], input[type="email"], 
input[type="url"], input[type="search"], input[type="tel"], 
input[type="color"], .uneditable-input {
	border: 2px solid rgba(255,255,255,0.3);
	background: none;
	color: #fff;
	border-radius: 0;
	font-size: 18px;
	height: 40px;
	line-height: 40px;
}

.login-form {
	width: 400px;
	margin: 0 auto;
	text-align: center;
	background: #394c5a;
	padding: 20px;
}

.btn-login {
	background: #d95c4b;
	box-shadow: none;
	border-radius: 0;
	border: none;
	text-shadow: none;
	color: #fff;
	margin-bottom: 10px;
}

.btn-login:hover {
	background: #22c7b6;
	color: #fff;
}

.forgot-block {
	background: rgba(255,255,255,0.3);
	padding: 13px 0;
	color: #fff;
	display: block;
}

.forgot-block:hover {
	background: #22c7b6;
	text-decoration: none;
	color: #fff;
}