<ul class="banners_widget">
{% for banner in banners %}
	<li>
		<a href="{{ urldecode(banner.url) }}" target="_blank">
			<img src="{{ base_url() }}uploads/banners/{{ banner.image }}" alt="{{ banner.name }}" />
		</a>
	</li>
{% endfor %}
</ul>