/* Base */
img { display: block; }
img, object, embed { height: auto; max-width: 100%; }

p > img {
	display: inline-block !important;
}

ul.image-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.image-list li {
	display: inline-block;
}

ul.image-list li img {
	width: 150px;
	height: auto;
}

/* Pagination */
ul.cms-pagination {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.cms-pagination li {
	display: inline-block;
	margin: 2px 5px;
}

ul.cms-pagination li a {
	display: block;
	padding: 0 5px;
	background: #ccc;
	border: 1px solid #ccc;
	color: #000;
}

ul.cms-pagination li.pagination-selected {
	border: 1px solid #ccc;
	padding: 1px 6px;
}

/* Matches */
.win-color { }
.lose-color { }
.draw-color { }

/* Alerts */
.cms-alert {
	background: #0e90d2;
	color: #fff;
	padding: 5px;
	margin-bottom: 5px;
}

.cms-alert a {
	color: rgba(255,255,255,0.8);
	text-decoration: underline;
}

.cms-alert a:hover {
	color: #fff;
	text-decoration: none;
}

/* Comments */
.comment-content header {
	overflow: hidden;
	background: rgba(0,0,0,0.1);
	padding: 5px;
	margin-bottom: 5px;
}

.comment { margin-bottom: 20px; }
.comment h4 { margin: 0; }

.comment-content header h4 {
	float: left;
	width: 50%;
}
.comment-content header div {
	float: right;
	width: 30%;
	text-align: right;
}
.comment-content {
	background: #f2f2f2;
	padding: 10px;
}
.comment-content p {
	color: #555555;
	margin-bottom: 0;
}

/* Forums */
.cms-forum-post-info {
	overflow: hidden;
	padding-bottom: 8px;
	margin-bottom: 8px;
	border-bottom: 1px solid #bcbcbc;
}

.cms-forum-post-info div { /* Username and date */
	float: left;
}

.cms-forum-post-info p { /* Author actions */
	float: right;
}

.cms-forum-post-info img { /* Avatar */
	height: 50px;
	width: auto;
	float: left;
	margin: 0 10px 0 0;
}

/* Profiles */
.cms-profile-header {
	width: 100%;
	background: #006bc9;
	overflow: hidden;
	box-shadow: inset 0 3px 5px #0a5596;
}

.cms-profile-avatar{
	float: left;
	margin: 0 20px 0 0;
	max-width: 130px;
	height: auto;
}

.cms-profile-header header {
	float: left;
}

.cms-profile-header header h3,
.cms-profile-header header h4 {
	color: #fff;
	font-weight: normal;
	border: 0;
	margin: 0;
}

.cms-profile-header header h3 {
	font-size: 22px;
}

.cms-profile-header header h3 a {
	font-size: 18px;
	color: #fff;
}

.cms-edit-profile label {
	display: block;
	color: #333;
}

/* Gallery */
.gallery-list, .gallery-pictures-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.gallery-list li, .gallery-pictures-list li {
	display: inline-block;
	margin: 0 15px 15px 0;
	text-align: center;
}

.gallery-list li img, .gallery-pictures-list li img {
	height: 150px;
	width: auto;
}

/* Widgets */
.wi_default {
	margin: 0;
	padding: 0;
	list-style: none;
}

.wi_default li { overflow: hidden; margin-bottom: 5px; }

.wi_default img {
	float: left;
	margin-right: 7px;
}

.wi_default span { float: right; }

/* Editor */
.markdown .editor-bold a {
	background-image:url(images/bold.png);
}
.markdown .editor-italic a {
	background-image:url(images/italic.png);
}
.markdown .editor-link a {
	background-image:url(images/link.png);
}
.markdown .editor-bullet-list a {
	background-image:url(images/list-bullet.png);
}
.markdown .editor-numeric-list a {
	background-image:url(images/list-numeric.png);
}
.markdown .editor-picture a {
	background-image:url(images/picture.png); 
}
.markdown .editor-quotes a	{
	background-image:url(images/quotes.png);
}
.markdown .editor-code a	{
	background-image:url(images/code.png);
}

.markdown {
	margin-bottom: 15px;
}

.markItUp {
	width: 100%;
}

.markItUpButton {
	background: #B73A3A;
	padding: 5px;
}
.markItUpButton:hover {
	background: #399EB5;
}

.markItUpHeader ul .markItUpSeparator {
	height: 35px;
	margin: 0 5px;
	background: #fff;
}

.markItUpEditor {
	font: inherit;
	font-size: 14px;
	resize: none;
	width: 100%;
	height: 200px !important;
}

/* Misc */
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

.pure-button-xsmall {
    font-size: 70%;
}

.pure-button-small {
    font-size: 85%;
}

.pure-button-large {
    font-size: 110%;
}

.pure-button-xlarge {
    font-size: 125%;
}