/* Base */
img { display: block; }
img, object, embed { height: auto; max-width: 100%; }

/* Matches */
.win-color { }
.lose-color { }
.draw-color { }

.cms-alert {
	background: #0e90d2;
	color: #fff;
	padding: 5px;
	margin-bottom: 5px;
}

.cms-alert a {
	color: rgba(255,255,255,0.8);
	text-decoration: underline;
}

.cms-alert a:hover {
	color: #fff;
	text-decoration: none;
}

/* Comments */
.comment-content header { overflow: hidden; }
.comment { margin-bottom: 20px; }
.comment h4 { margin-top: 0; }
.comment-content header h4 {
	float: left;
	width: 50%;
}
.comment-content header div {
	float: right;
	width: 30%;
	text-align: right;
}
.comment-content {
	background: #f2f2f2;
	padding: 10px;
}
.comment-content p {
	color: #555555;
	margin-bottom: 0;
}

/* Forums */

/* Gallery */
.gallery-list, .gallery-pictures-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.gallery-list li, .gallery-pictures-list li {
	display: inline-block;
	margin: 0 15px 15px 0;
	text-align: center;
}

.gallery-pictures-list li img {
	height: 150px;
	width: auto;
}

/* Widgets */
.wi_default {
	margin: 0;
	padding: 0;
	list-style: none;
}

.wi_default li { overflow: hidden; margin-bottom: 5px; }

.wi_default img {
	float: left;
	margin-right: 7px;
}

.wi_default span { float: right; }

/* Editor */
.markdown .editor-bold a {
	background-image:url(images/bold.png);
}
.markdown .editor-italic a {
	background-image:url(images/italic.png);
}
.markdown .editor-link a {
	background-image:url(images/link.png);
}
.markdown .editor-bullet-list a {
	background-image:url(images/list-bullet.png);
}
.markdown .editor-numeric-list a {
	background-image:url(images/list-numeric.png);
}
.markdown .editor-picture a {
	background-image:url(images/picture.png); 
}
.markdown .editor-quotes a	{
	background-image:url(images/quotes.png);
}
.markdown .editor-code a	{
	background-image:url(images/code.png);
}

.markdown {
	margin-bottom: 15px;
}

.markItUp {
	width: 100%;
}

.markItUpButton {
	background: #B73A3A;
	padding: 5px;
}
.markItUpButton:hover {
	background: #399EB5;
}

.markItUpHeader ul .markItUpSeparator {
	height: 35px;
	margin: 0 5px;
	background: #fff;
}

.markItUpEditor {
	font: inherit;
	font-size: 14px;
	resize: none;
	width: 100%;
	height: 200px !important;
}

/* Misc */
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

.pure-button-xsmall {
    font-size: 70%;
}

.pure-button-small {
    font-size: 85%;
}

.pure-button-large {
    font-size: 110%;
}

.pure-button-xlarge {
    font-size: 125%;
}