/* =================================
   Typography
   ================================= */
.subtitle {
	border-bottom: 2px solid #f1f1f1;
	margin-bottom: 20px;
}

/* =================================
   Comments
   ================================= */
.comment {
	overflow: hidden;
	border-bottom: 1px solid #ccc;
	margin-bottom: 15px;
}

.comment-actions {
	float: right;
	color: #d72727;
}

.comment .comment-avatar {
	float: left;
	width: 70px;
	padding-bottom: 15px;
}

.comment-avatar img {
	max-width: 70px;
	display: block;
	margin: auto;
}

.comment .comment-body {
	margin-left: 85px;
}

.comment-add, .forum-post-create {
	background: rgba(0,0,0,0.1);
	border-top: 2px solid #3499d1;
	padding: 15px;
	padding-top: 7px;
}

.comment-add textarea {
	width: 100%;
	min-height: 100px;
}

/* =================================
   Pagination
   ================================= */
.pagination {
	list-style: none;
	padding: 0;
	margin: 15px 0;
	overflow: hidden;
}

.pagination li {
	float: left;
	min-width: 30px;
	text-align: center;
	height: 30px;
	line-height: 30px;
}

.pagination li.active, .pagination li a:hover {
	background: #2185c5;
	color: #fff;
}

.pagination li a {
	display: block;
	min-width: 30px;
	background: #f1f1f1;
}

/* =================================
   Posts
   ================================= */
.post {
	margin-bottom: 15px;
}

.post .post-media {
	text-align: center;
	background: rgba(0,0,0,0.2);
}

.post .post-media img {
	display: block;
	margin: auto;
	max-height: 200px;
	width: auto;
}

.post-footer {
	color: #a1a1a1;
}

.post-body {
	margin-bottom: 8px;
}

.post-show h3 small {
	display: block;
	font-size: 14px;
}

/* =================================
   Alerts
   ================================= */
.alert {
	background: #ffc;
	color: #3e454c;
	padding: 8px 10px;
	margin-bottom: 15px;
}

.alert p {
	margin: 0;
	padding: 0;
}

/* =================================
   Matches
   ================================= */
.match-versus {
	overflow: hidden;
}

.team-logo {
	text-align: center;
}

.team-logo img {
	max-height: 100px;
	max-width: 100px;
	display: block;
	margin: auto;
}

.match-team {
	float: left;
}

.match-opponent {
	float: right;
}

.match-team, .match-opponent {
	width: 40%;
}

.match-score {
	float: left;
	width: 20%;
	text-align: center;
}

.match-score span {
	font-size: 28px;
}

.match-panel {
	background: rgba(0,0,0,0.1);
	padding: 15px;
	margin: 15px 0;
}

/* =================================
   Media list
   ================================= */
ul.media-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.media-list li {
	display: inline-block;
}

ul.media-list li img {
	max-width: 150px;
	height: auto;
}

/* =================================
   Breadcrumbs
   ================================= */
.breadcrumbs {
	list-style: none;
	margin: 0 0 10px 0;
	padding: 0;
}

.breadcrumbs li {
	display: inline-block;
}

/* =================================
   FORUMS
   ================================= */
.forum-post {
	overflow: hidden;
	background: rgba(0,0,0,0.1);
	padding: 15px;
	margin-bottom: 15px;
}

.forum-post-info {
	overflow: hidden;
	padding: 0 0 10px 0;
	border-bottom: 2px solid #ccc;
}

.forum-post-info img {
	max-height: 50px;
	width: auto;
	float: left;
	margin-right: 10px;
}

.forum-post-info .edit-post {
	float: right;
	background: rgba(0,0,0,0.1);
	padding: 3px 5px;
}

/* Upcoming match */
.cms-upcoming-match {
	text-align: center;
}

.cms-upcoming-match span {
	display: block;
	font-size: 24px;
	font-weight: bold;
	margin: 30px 0 0 0;
}

/* Messages */
.cms-pm {
	border-bottom: 1px solid #ccc;
	background: #f2f2f2;
	padding: 7px;
}

.cms-pm span {
	color: #e3516a;
	font-weight: bold;
}

.cms-pm small {
	float: right;
}

/* Forums */


/* Profiles */
.cms-profile-header {
	width: 100%;
	background: #006bc9;
	overflow: hidden;
	box-shadow: inset 0 3px 5px #0a5596;
}

.cms-profile-avatar{
	float: left;
	margin: 0 20px 0 0;
	max-width: 130px;
	height: auto;
}

.cms-profile-header header {
	float: left;
}

.cms-profile-header header h3,
.cms-profile-header header h4 {
	color: #fff;
	font-weight: normal;
	border: 0;
	margin: 0;
}

.cms-profile-header header h3 {
	font-size: 22px;
}

.cms-profile-header header h3 a {
	font-size: 18px;
	color: #fff;
}

.cms-edit-profile label {
	display: block;
	color: #333;
}

/* Gallery */
.gallery-list, .gallery-pictures-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.gallery-list li, .gallery-pictures-list li {
	display: inline-block;
	margin: 0 15px 15px 0;
	text-align: center;
}

.gallery-list li img, .gallery-pictures-list li img {
	height: 150px;
	width: auto;
}

/* Widgets */
.wi_default {
	margin: 0;
	padding: 0;
	list-style: none;
}

.wi_default li { overflow: hidden; margin-bottom: 5px; }

.wi_default img {
	float: left;
	margin-right: 7px;
}

.wi_default span { float: right; }

/* Editor core */
.markItUp * {
	margin:0px; padding:0px;
	outline:none;
}
.markItUp a:link,
.markItUp a:visited {
	color:#000;
	text-decoration:none;
}
.markItUp  {
	width:700px;
	margin:5px 0 5px 0;
}
.markItUpContainer  {
	font:11px Verdana, Arial, Helvetica, sans-serif;
}
.markItUpEditor {
	font:12px 'Courier New', Courier, monospace;
	padding:5px;
	width:690px;
	height:320px;
	clear:both;
	line-height:18px;
	overflow:auto;
}
.markItUpPreviewFrame	{
	overflow:auto;
	background-color:#FFF;
	width:99.9%;
	height:300px;
	margin:5px 0;
}
.markItUpFooter {
	width:100%;
}
.markItUpResizeHandle {
	overflow:hidden;
	width:22px; height:5px;
	margin-left:auto;
	margin-right:auto;
	background-image:url(images/handle.png);
	cursor:n-resize;
}
.markItUpHeader ul li	{
	list-style:none;
	float:left;
	position:relative;
}
.markItUpHeader ul li:hover > ul{
	display:block;
}
.markItUpHeader ul .markItUpDropMenu {
	background:transparent url(images/menu.png) no-repeat 115% 50%;
	margin-right:5px;
}
.markItUpHeader ul .markItUpDropMenu li {
	margin-right:0px;
}
.markItUpHeader ul ul {
	display:none;
	position:absolute;
	top:18px; left:0px;	
	background:#FFF;
	border:1px solid #000;
}
.markItUpHeader ul ul li {
	float:none;
	border-bottom:1px solid #000;
}
.markItUpHeader ul ul .markItUpDropMenu {
	background:#FFF url(images/submenu.png) no-repeat 100% 50%;
}
.markItUpHeader ul .markItUpSeparator {
	margin:0 10px;
	width:1px;
	height:16px;
	overflow:hidden;
	background-color:#CCC;
}
.markItUpHeader ul ul .markItUpSeparator {
	width:auto; height:1px;
	margin:0px;
}
.markItUpHeader ul ul ul {
	position:absolute;
	top:-1px; left:150px; 
}
.markItUpHeader ul ul ul li {
	float:none;
}
.markItUpHeader ul a {
	display:block;
	width:16px; height:16px;
	text-indent:-10000px;
	background-repeat:no-repeat;
	margin:0px;
}
.markItUpHeader ul ul a {
	display:block;
	padding-left:0px;
	text-indent:0;
	width:120px; 
	padding:5px 5px 5px 25px;
	background-position:2px 50%;
}
.markItUpHeader ul ul a:hover  {
	color:#FFF;
	background-color:#000;
}

/* Custom editor */
.markdown .editor-bold a {
	background-image:url(../img/editor/bold.png);
}
.markdown .editor-italic a {
	background-image:url(../img/editor/italic.png);
}
.markdown .editor-link a {
	background-image:url(../img/editor/link.png);
}
.markdown .editor-bullet-list a {
	background-image:url(../img/editor/list-bullet.png);
}
.markdown .editor-numeric-list a {
	background-image:url(../img/editor/list-numeric.png);
}
.markdown .editor-picture a {
	background-image:url(../img/editor/picture.png); 
}
.markdown .editor-quotes a	{
	background-image:url(../img/editor/quotes.png);
}
.markdown .editor-code a	{
	background-image:url(../img/editor/code.png);
}
.markdown {
	margin-bottom: 15px;
}

.markItUp {
	width: 100%;
}

.markItUpButton {
	background: #333;
	padding: 5px;
}
.markItUpButton:hover {
	background: #399EB5;
}

.markItUpHeader ul .markItUpSeparator {
	height: 35px;
	margin: 0 5px;
	background: #fff;
}

.markItUpEditor {
	font: inherit;
	font-size: 14px;
	resize: none;
	width: 100%;
	height: 200px !important;
}

/* SLIMBOX */

#lbOverlay {
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	cursor: pointer;
}

#lbCenter, #lbBottomContainer {
	position: absolute;
	z-index: 9999;
	overflow: hidden;
	background-color: #fff;
}

.lbLoading {
	background: #fff url(../img/loading.gif) no-repeat center;
}

#lbImage {
	position: absolute;
	left: 0;
	top: 0;
	border: 10px solid #fff;
	background-repeat: no-repeat;
}

#lbPrevLink, #lbNextLink {
	display: block;
	position: absolute;
	top: 0;
	width: 50%;
	outline: none;
}

#lbPrevLink {
	left: 0;
}

#lbPrevLink:hover {
	background: transparent url(../img/prevlabel.gif) no-repeat 0 15%;
}

#lbNextLink {
	right: 0;
}

#lbNextLink:hover {
	background: transparent url(../img/nextlabel.gif) no-repeat 100% 15%;
}

#lbBottom {
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size: 10px;
	color: #666;
	line-height: 1.4em;
	text-align: left;
	border: 10px solid #fff;
	border-top-style: none;
}

#lbCloseLink {
	display: block;
	float: right;
	width: 66px;
	height: 22px;
	background: transparent url(../img/closelabel.gif) no-repeat center;
	margin: 5px 0;
	outline: none;
}

#lbCaption, #lbNumber {
	margin-right: 71px;
}

#lbCaption {
	font-weight: bold;
}

/**
 * BxSlider v4.0 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2012
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */


/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
	position: relative;
	margin: 0 auto 60px;
	padding: 0;
	*zoom: 1;
}

.bx-wrapper img {
	max-width: 100%;
	display: block;
}

/** THEME
===================================*/

.bx-wrapper .bx-viewport {
	-moz-box-shadow: 0 0 5px #ccc;
	-webkit-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 5px #ccc;
	border: solid #fff 5px;
	left: -5px;
	background: #fff;
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: -30px;
	width: 100%;
}

/* LOADER */

.bx-wrapper .bx-loading {
	min-height: 50px;
	background: url(images/bx_loader.gif) center center no-repeat #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}

/* PAGER */

.bx-wrapper .bx-pager {
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background: #666;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #000;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
	left: 10px;
	background: url(images/controls.png) no-repeat 0 -32px;
}

.bx-wrapper .bx-next {
	right: 10px;
	background: url(images/controls.png) no-repeat -43px -32px;
}

.bx-wrapper .bx-prev:hover {
	background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
	background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -16px;
	outline: 0;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
	text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;
	background: url(images/controls.png) -86px -11px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
	background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	outline: 0;
	background: url(images/controls.png) -86px -44px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
	background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #666\9;
	background: rgba(80, 80, 80, 0.75);
	width: 100%;
}

.bx-wrapper .bx-caption span {
	color: #fff;
	font-family: Arial;
	display: block;
	font-size: .85em;
	padding: 10px;
}