{{ form_open() }}

	<input placeholder="Send to" type="text" name="sendto" />

	<br />

	<input placeholder="Title" type="text" name="title" />

	<br />

	<textarea placeholder="Content" name="content" rows="6"></textarea>

	<button class="pure-button" type="submit">Send</button>

{{ form_close() }}