{{ validation_errors() }}
{{ form_open() }}
	
	<div class="create-form">
		<h3>New private message</h3>

		<!-- Weeee HTML5 autocomplete, will need to change this -->
		<input placeholder="Enter username" type="text" name="sendto" list="users" />

		<br />

		<input placeholder="Subject" type="text" name="title" />

		<br />

		<textarea placeholder="Content" name="content"></textarea>

		<button class="button" type="submit">Send</button>
	</div>

{{ form_close() }}
	
<datalist id="users">
	{% for user in users %}
		<option value="{{ user.username }}">
	{% endfor %}
</datalist>