/* theme.scss */
$siteWidth: 1100px;
$siteBg: #191818;
$siteFont: Open Sans;

$primaryColor: #0e90d2;
$secondaryColor: #dd514c;
$muteColor: #666;

@mixin pureBox {
	padding: 20px;
	background: rgba(0,0,0,0.05);
	margin-bottom: 20px;
}

@mixin inputModel {
	margin-bottom: 10px;
	border: 1px solid #ccc;
	background: #fff;
	padding: 5px;
	resize: none;
}

/* Global */
html { background: $siteBg; }

body {
	width: $siteWidth;
	margin: 0 auto;
	font-family: $siteFont, sans-serif;
	font-size: 1em;

	#wrap {
		background: #fff;
		margin: 40px 0;
		padding: 20px;
	}
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	color: #333333;
}

h1, h2, h3 {
	border-bottom: 1px solid #E5E5E5;
    padding: 0.3em 0;
    width: 100%;
    font-weight: normal;
}

a {
	text-decoration: none;
	color: $primaryColor;

	&:hover {
		color: $secondaryColor;
	}
}

p {
	margin: 0;
	line-height: 1.5em;
}

small {
	color: $muteColor;
}

hr {
	border: 0;
	margin: 20px 0;
	color: rgba(0,0,0,0.15);
	background: rgba(0,0,0,0.15);
	height: 1px;
}

input, select, textarea, button {
	@include inputModel;
}

textarea {
	width: 100%;
	display: block;
}

/* Content */
.content {
	padding-right: 20px;
}

.sidebar {

	article {
		padding-bottom: 20px;

		h3 {
			margin-top: 0;
		}
	}
}

.panel {
	@include pureBox;
}