<ul class="wi_default">
	{% for topic in topics %}
		<li><a href="{{base_url()}}forums/topic/{{topic.id}}">{{helper_ellip(topic.title, 20)}}</a> <span>{{topic.views}} Views</span></li>
	{% endfor %}
</ul>