<h3>Post a comment:</h3>

{{ form_open(base_url() ~ 'comments/add/' ~ data.module ~ '/' ~ data.link, formClass) }}

	<textarea placeholder="Write a comment" name="content"></textarea>

	<button type="submit" class="pure-button pure-button-primary" name="save">Post comment</button>

{{ form_close() }}