<hr />
<form action="{{base_url()}}comments/add/{{data.module}}/{{data.link}}" accept-charset="utf-8" method="post">
	<label for="cmt_content">Content:</label>
	<textarea id="cmt_content" name="content"></textarea>

	<input class="small button" type="submit" value="POST COMMENT" name="save" />
</form>