<div class="comment-add">

	<h4>Post a comment</h4>

	{{ form_open(base_url() ~ 'comments/add/' ~ data.module ~ '/' ~ data.link, formClass) }}

		<div style="display: none; visibility: hidden;">
			<input type="text" name="usernamef" />
			<input type="text" name="mailf" />
		</div>

		<textarea placeholder="Write a comment" name="content"></textarea>

		<button type="submit" class="button" name="save">Post comment</button>

	{{ form_close() }}

</div>